:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #222;
  background-color: #feffdf;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.appContainer {
  min-height: 400px; /* Ajusta según tu preferencia */
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
  word-break: break-word;
}
.inputRow{
  display: flex;
  align-items: center;
  min-width: 320px; /* Ajusta según tu preferencia */
  margin-bottom: 12px;
}
.filters{
  display: flex;
  gap: 8px;
}
.filters button {
  background-color: #feffdf;
  border: 2px solid #97cba9;
  padding: 10px;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #97cba9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #97cba9;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input{
  background: #dde0ab;
  border: 2px solid #dde0ab;
  border-radius: 15px;
  color: #222;
  padding: 0.5em;
  margin-right: 10px;
  font-size: 1em;
  transition-duration: 0.3s;
  max-height: 11px;
}
input:focus {
  border-color: #97cba9;
  border-radius: 15px;
  outline: none;
}

.taskItem {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  word-break: break-word;
}

.taskBtn {
  background: #dde0ab;
  padding: 10px;
  border-radius: 20%;
}
s{
  color:#717171
}

.delTask{
  background-color: #feffdf;
  border: 2px solid #d67878;
  border-radius: 15px;
  font-size: 12px;
  color:#d67878;
  min-width: 70px;
}
.editTask{
  background-color: transparent;
  border: 2px solid #ababab;
  border-radius: 15px;
  font-size: 12px;
  color:#ababab;
  min-width: 70px;
}
small{
  opacity: 50%;
  display: block;
  margin-bottom: 6px;
}
.saveTask{
  font-size: 14px;
  min-width: 70px;
}
.cancelEditTask{
  font-size: 14px;
  min-width: 85px;
  background-color: transparent;
  border: 2px solid #d67878;
  color: #d67878
}
.cancelEditTask:hover{
  border: 2px solid #efa4a4;
  color:#efa4a4;
}